@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: "DIN Condensed";
  src: url("../fonts/DINCondensed-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #141249;
}
a,
a:hover {
  text-decoration: none;
}
header {
  background-image: url("../images/banner_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header__sub {
  width: 64%;
  margin: auto;
}
.header__sub__navbar nav {
  display: flex;
  padding-top: 24px;
  padding-left: 24px;
  justify-content: space-between;
}
.header__sub__navbar nav a {
  padding: 18px 0;
  color: #fff;
}
.header__sub__navbar nav a:hover {
  color: #3c38cf;
}
.header__sub__navbar__btn--green {
  background: #94ca52;
  border-radius: 75px;
  border: none;
  font-size: 14px;
  padding: 14px 30px 13px;
  color: #fff;
  cursor: pointer;
}
.header__sub__navbar__btn--green:hover {
  background: #78c717;
}
.header__carousel {
  margin: 30px 0;
}
.carousel.slide {
  border: 3px solid #fd77fa;
}
.header__carousel__img {
  position: absolute;
  z-index: 2;
  left: 45.3%;
  top: 75px;
}
.header__carousel__img svg {
  width: 129px;
  height: 158px;
}
.header__social {
  position: absolute;
  top: 32%;
  right: 13%;
}
.header__social img {
  width: 42px;
}
.carousel-indicators {
  bottom: 30px;
}
.header__btn button {
  position: absolute;
  margin-top: -37px;
  z-index: 1;
  left: 42.9%;
  background: #21285c;
  border: 3px solid #fd77fa;
  box-sizing: border-box;
  border-radius: 75px;
  padding: 20px 60px;
  color: #fff;
}

.header__info {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  background: #fd77fa;
  border-radius: 50px;
  color: #fff;
  padding: 5px 30px;
}
.header__info p {
  margin: 0;
}
.header__info a {
  color: #fff;
}
.header__info a:hover {
  color: #21285c;
}
.content__section {
  padding: 30px 100px;
  background-image: url("../images/banner_layer_4.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.content__header,
.content__section3__header,
.content__section4__header,
.content__section5__header,
.content__section6__header {
  color: #fff;
  font-size: 45px;
  line-height: 4.2rem;
  font-weight: bolder;
}
.content__header span,
.content__section3__header span,
.content__section4__header span,
.content__section5__header span,
.content__section6__header span {
  color: #94ca52;
}
.content__prizes {
  display: flex;
}
.content__prizes__categories {
  flex: 1.5;
}
.content__prizes__video {
  flex: 2;
  margin: 50px 0;
}
.content__prizes__item {
  display: flex;
  margin: 50px 0;
}
.content__prizes__item img {
  width: 55px;
  height: 55px;
}
.content__prizes__item div {
  display: flex;
}
.content__prizes__item p {
  align-self: center;
  margin: 0;
  padding-left: 20px;
  color: #fff;
}
.content__prizes__video video {
  height: 350px;
  width: 100%;
  border: 4px solid #fd77fa;
  border-radius: 5px;
}
.content__section2 {
  width: 93%;
  margin: 30px auto 0;
  padding: 43px 11px;
  background-image: url("../images/banner_image.png");
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.content__section2 > div {
  margin: 42px 28px;
}
.content__section2__numbers {
  display: flex;
}
.content__section2__numbers__item {
  margin-right: 50px;
  font-size: 93px;
  color: #94ca52;
  font-family: "DIN Condensed";
  align-self: center;
  margin-bottom: 0;
}
.content__section2__numbers__item + p {
  align-self: center;
  color: #00d2f8;
  font-weight: bold;
  font-size: 20px;
}
.content__section2__prizes {
  text-align: right;
  display: flex;
  color: #00d2f8;
  font-weight: bold;
  font-size: 20px;
}
.content__section2__prizes > div {
  width: 20%;
  margin-left: auto;
  text-align: left;
  display: flex;
  align-items: center;
}
.prize--green {
  color: #94ca52;
}
.content__section3 {
  height: 520px;
  background-image: url("../images/banner_layer.png");
}
.content__section3 > div,
.content__section4 > div,
.content__section5 > div,
.content__section6 > div,
.footer > div {
  width: 93%;
  margin: 0 auto;
  padding-top: 40px;
}
.content__section3__card {
  border: none;
}
.content__section3__card {
  border-radius: 10px;
}
.content__section3__card__header {
  background: #15185a;
  color: #00d2f8;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.content__section3__card__body {
  background: #00003e;
  color: #fff;
  padding: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
}
.content__section3__card__header p {
  font-weight: bolder;
  cursor: pointer;
  padding: 0;
}
.content__section3__card__header li {
  padding: 15px;
}
.nav-item.active {
  border-bottom: 3px solid #94ca52;
}
#lateText,
#earlyText,
#uploadText {
  display: none;
}
.content__section4 {
  height: 760px;
  background-image: url("../images/banner_layer_2.png");
  background-size: 80%;
  background-position: center;
}
.content__section4__buttons {
  margin-top: 30px;
}
.content__section4__buttons .btn {
  background: #1f007c;
  color: #422a90;
  border: none;
  font-weight: bold;
  padding: 20px 50px;
  margin-right: 15px;
}
.content__section4__buttons .btn.btn__active {
  background: linear-gradient(to right, #61208b, #202472);
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 20px 50px;
  margin-right: 15px;
}
.content__section4__forms {
  padding: 30px 40px;
  background-color: #141155;
  border-radius: 5px;
  height: 523px;
}
.content__section4__forms p,
.content__section4__forms label {
  color: #00d2f8;
  font-weight: bold;
  font-size: 17px;
}
.content__section4__forms input[type="text"],
.content__section4__forms select {
  padding: 25px 35px;
  margin-bottom: 10px;
  background-color: #090945;
  border: none;
  color: #fff;
  cursor: pointer;
}
#upload_button {
  color: #00d2f8;
}
.content__section4__forms select {
  width: 100%;
}
.content__section4__forms select:active {
  background-color: #090945;
  color: #fff;
}
.content__section4__forms select:focus {
  outline: none;
}
.content__section4__forms ::placeholder {
  color: #1e1e55;
}
input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #090945;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid #090945;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background: linear-gradient(to right, #60258c, #202472);
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid #090945;
}

.content__section4__forms__next a.btn,
.content__section4__forms__next button.btn {
  background: linear-gradient(to right, #61208b, #202472);
  color: #fff;
  border: none;
  font-weight: bold;
  padding: 20px 50px;
  margin-right: 15px;
}
.content__section4__forms__next a.btn:hover {
  color: #fff;
  border: 1px solid #61208b;
}
#page2,
#page3,
#page4 {
  display: none;
}
.content__section5 {
  background-image: url("../images/banner_layer_3.png");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
}
.content__section5_step {
  display: flex;
  align-items: center;
}
.content__section5_step h5 {
  color: #94ca52;
}
.content__section5_step h4 {
  color: #fff;
}
.content__section5_step p {
  color: #fff;
  font-size: 17px;
}
.content__section6 {
  background-color: #000036;
  min-height: 1510px;
  z-index: 2;
}
.content__section6 > div {
  background-image: url("../images/bg-layer.png");
  background-repeat: no-repeat;
  z-index: 1;
  background-position-x: center;
  background-position-y: 102%;
  background-size: 118%;
}
.content__section6__row {
  display: flex;
  justify-content: space-between;
  z-index: 5;
  background: transparent;
  flex-wrap: wrap;
}
.content__section6__row > div {
  width: 40%;
}
.content__section6__row > div video {
  width: 100%;
  height: 350px;
  border: 3px solid #fd77fa;
  border-radius: 5px;
}
.content__section6__row h4,
.content__section6__row h5 {
  color: #fff;
}
.mb-6 {
  margin-bottom: 210px;
}
.content__section6__bg1 {
  position: absolute;
  background-image: url(../images/image1.png);
  background-repeat: no-repeat;
  z-index: -1;
  background-position: center;
  background-size: 54%;
  top: 126px;
  right: 300px;
  left: 300px;
  bottom: 60px;
  opacity: 0.7;
}
.footer {
  background: #141349;
}
.footer__notice {
  background: #090547;
  border-radius: 10px;
  width: 98%;
  margin: -26px auto 0;
  padding: 30px;
}
.footer__notice h4,
.footer__main p,
.footer__main h4 {
  color: #fff;
}
.footer__notice button {
  background: #94ca52;
  border-radius: 40px;
  color: #fff;
  padding: 20px 30px;
}
.center_play_icon {
  font-size: 35px;
  top: 50%;
  color: #fff;
  z-index: 9;
  position: absolute;
  background-image: url("../images/play_icon.png");
  background-position: center;
  background-size: cover;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.rtopVideoPlayer.rtopTheme.hasFA.playing .center_play_icon {
  opacity: 0;
}

.rtopVideoPlayer.rtopTheme.hasFA.paused .center_play_icon {
  opacity: 1;
}
.side-bar {
  display: none;
}
#hamburger {
  display: none;
}

@media screen and (max-width: 600px) {
  .content__section6__row > div {
    width: 100%;
  }
  .header__sub {
    width: 81%;
  }
  #hamburger {
    display: block;
    width: 38px;
  }
  .side-bar {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    background: #090547;
    z-index: 40;
    padding: 50px;
    font-size: 28px;
    line-height: 7rem;
    transition: left ease-in-out 0.5s;
  }
  .side-bar a {
    color: white;
    white-space: nowrap;
  }
  .content__section6 > div {
    text-align: center;
  }
  .content__section6__row {
    display: block;
  }
  .header__btn button {
    left: 37.3%;
    padding: 12px 30px;
    margin-top: -28px;
  }
  .header__social {
    position: absolute;
    top: 172.6px;
    right: 1%;
  }
  .header__social img {
    width: 35px;
  }
  .header__carousel__img svg {
    width: 82px;
    height: 158px;
  }
  .header__carousel__img {
    top: 66px;
  }
  .header__sub__navbar nav a:nth-child(1) {
    display: none;
  }
  .header__sub__navbar nav a:nth-child(n + 3) {
    display: none;
  }
  .header__sub__navbar nav {
    align-items: center;
    padding-left: 0;
  }
  .header__sub__navbar__btn--green {
    padding: 10px 30px;
  }
  .content__section {
    padding: 30px 40px;
  }
  .nav-actions {
    /* width: 190px; */
    display: flex;
    justify-content: space-between;
  }
  .content__prizes {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content__prizes__categories {
    flex: unset;
    width: 48%;
  }
  .content__prizes__video {
    flex: unset;
    width: 100%;
  }
  .content__section2 {
    background-image: none;
  }
  .content__section2 > div {
    margin: 42px 0;
  }
  .content__section2__prizes {
    margin-bottom: 30px;
  }
  .content__section2__prizes > div {
    width: 54%;
  }
  .content__section2__prizes > div > div {
    display: flex;
    justify-content: space-between;
  }
  .content__section3__card__header li {
    padding: 0;
  }
  .content__section3 {
    height: 600px;
  }
  .content__section3__card__body {
    padding: 57px 50px;
  }
  .content__section4__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .content__section4__buttons .btn {
    padding: 20px 30px;
    width: 43%;
    white-space: break-spaces;
    margin-right: 0;
  }
  .content__section4__buttons .btn:not(:nth-child(n + 3)) {
    margin-bottom: 20px;
  }
  .content__section4 {
    height: 1030px;
  }
  .footer__notice {
    margin: 0 auto 0;
  }
}

@media screen and (max-width: 575px) {
  .content__section2__prizes > div {
    display: block;
    width: 41%;
  }
  .content__section2 {
    height: 740px;
  }
}

@media screen and (min-width: 930px) and (max-width: 1200px) {
  .header__social {
    top: 14rem;
    right: 8rem;
  }
  .header__btn button {
    left: 40.7%;
  }
  .content__section4 {
    height: 920px;
  }
  .content__section6 {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__btn button {
    left: 38.9%;
    padding: 6px 13px;
    margin-top: -21px;
  }
  .header__social img {
    width: 28px;
  }
  .header__info p,
  .header__info a {
    font-size: 0.9rem;
  }
  .content__section2__prizes > div {
    width: 51%;
  }
  .content__header,
  .content__section3__header,
  .content__section4__header,
  .content__section5__header,
  .content__section6__header {
    font-size: 38px;
  }
  .header__carousel__img {
    top: 41px;
    left: 43.4%;
  }
  .header__carousel__img svg {
    width: 57px;
    height: 158px;
  }
}

@media screen and (max-width: 450px) {
  .header__info p,
  .header__info a {
    font-size: 0.7rem;
  }
  .content__prizes__categories {
    width: 100%;
  }
}

@media screen and (max-width: 423px) {
  .header__social img {
    width: 23px;
  }
  .header__social {
    top: 158.3px;
  }
  .content__header,
  .content__section3__header,
  .content__section4__header,
  .content__section5__header,
  .content__section6__header {
    font-size: 36px;
  }
  .content__section2__prizes > div {
    width: 60%;
  }
  .content__section3 {
    height: 701px;
  }
  .content__section4 {
    height: 1130px;
  }
  .header__btn button {
    left: 35.9%;
  }
}
